hydra-core
numpy
pytorch-lightning
tensorboard
timm
torch
torchaudio
torchmetrics
torchvision
tqdm
pesq
pystoi
wandb
onnxruntime
librosa

# PDNS Synthesis
soundfile
shutil
glob
configparser
argparse
scipy
pandas
pathlib
