hydra-core
numpy
pytorch-lightning
tensorboard
timm
torch
torchaudio
torchmetrics
torchvision
tqdm
pesq
pystoi
wandb

# PDNS Synthesis
soundfile
shutil
glob
configparser
argparse
librosa
scipy
pandas
pathlib