hydra-core
numpy
pytorch-lightning>=2.2.0
tensorboard
timm
torch
torchaudio
torchmetrics
torchvision
tqdm
pesq
pystoi
wandb
Cython
nemo_toolkit[asr]
speechbrain
onnxruntime
librosa
onnx
onnx2torch

# PDNS Synthesis
soundfile
configparser
argparse
scipy
pandas
pathlib
